.container__small-card {
  width: 600px;
  display: flex;
}
.container__small-card > img {
  min-width: 250px;
  height: 150px;
  object-fit: cover;
}
.container__text {
  padding: 1rem;
}
.container__text > span {
  font-size: 10px;
  color: gray;
}
.container__text > h2 {
  margin-top: 9px;
  font-size: 15px;
}
