<div class="container__home">
  <app-title></app-title>
  <div class="container__articles">
    <app-big-card
      slug="nova-versao-angular"
      pictureCover="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80"
      postDate="March 27, 2021"
      cardTitle="Saiu a nova versão do Angular"
      abstract="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    >
    </app-big-card>
    <div class="container__small-articles">
      <app-small-card
        slug="labore-et-dolore-magna"
        pictureCover="https://plus.unsplash.com/premium_photo-1677269465314-d5d2247a0b0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
        postDate="August 14, 2021"
        cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      ></app-small-card>
      <app-small-card
        slug="tempor-et-sed-consectetur"
        pictureCover="https://images.unsplash.com/photo-1695653422557-3b85c1d6d061?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
        postDate="September 21, 2021"
        cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      ></app-small-card>
      <app-small-card
        slug="ipsum-dolor-sit-amet"
        pictureCover="https://images.unsplash.com/photo-1695477718933-a35f4921e903?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2135&q=80"
        postDate="October 13, 2021"
        cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      ></app-small-card>
    </div>
  </div>
</div>
